<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://deliveryorderprocessorlukianovets.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ebd457b1-ab41-4dc0-be11-b1836171f08d/resourceGroups/final-module-lukianovets/providers/Microsoft.Web/sites/DeliveryOrderProcessorLukianovets</ResourceId>
    <UserName>$DeliveryOrderProcessorLukianovets</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://deliveryorderprocessorlukianovets.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>